services:
  starpu2:
    build:
      dockerfile: Dockerfile.starpu
    command: bash
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    volumes:
      - ./src:/home/src
      - ./results:/home/results
      - ./experiments.sh:/home/experiments.sh
      - ./const.sh:/home/const.sh
      - ./hostfile:/home/hostfile
  starpu1:
    build:
      dockerfile: Dockerfile.starpu
    command: sudo mpirun --allow-run-as-root --hostfile /home/hostfile -np 1 ./nbody
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    volumes:
      - ./src:/home/src
      - ./results:/home/results
      - ./experiments.sh:/home/experiments.sh
      - ./const.sh:/home/const.sh
      - ./hostfile:/home/hostfile
